@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-one {
  background-image: linear-gradient(145deg, #7ce881 21.91%, #016bff 87.65%);
}

.gradient-two {
    background-image: linear-gradient(99deg, #28B1A1 20.89%, #053987 70.77%);
  }


body{
    font-family: 'General Sans';
}

@layer components {
}
